In [ ]:
# csv file downloaded from https://data.cityofchicago.org/
file = open('Chicago_Street_Names.csv' , 'r')

In [ ]:
data = file.read()

In [ ]:
rows = data.split('\n')

In [ ]:
print(rows)

In [ ]:
f = open('Chicago_Street_Names.csv','r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
# create an empty list
full_lis = []

In [ ]:
for row in rows:
    rs = row.split("  ")
    full_lis.append(rs)

In [ ]:
print(full_lis)

In [ ]:
#Counting
f = open('Chicago_Street_Names.csv','r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
full_lis = []

In [ ]:
for row in rows:
    rs = row.split("  ")
    full_lis.append(rs)

In [ ]:
# Counting csv rows
count = 0
for row in full_lis:
    count += 1

In [ ]:
print(count)

In [ ]:
file = open('Chicago_Street_Names.csv' , 'r')
data = file.read()
rows = data.split('\n')

In [ ]:
full_lis = []

In [ ]:
for row in rows:
    rs = row.split("  ")
    full_lis.append(rs)
    first_row = full_lis[0]
countc = 0

In [ ]:
for column in first_row:
    countc = countc + 1

In [ ]:
print(countc)

In [3]:
# Important csv with pandas
import pandas as pd

In [5]:
file5 = 'Chicago_Street_Names.csv'

In [6]:
ob5 = pd.read_csv(file5)

In [7]:
ob5.head()

,Full Street Name,Direction,Street,Suffix,Suffix Direction,Min Address,Max Address
0,E 100TH PL,E,100TH,PL,,1,1199
1,W 100TH PL,W,100TH,PL,,300,2629
2,E 100TH ST,E,100TH,ST,,1,4001
3,W 100TH ST,W,100TH,ST,,1,2799
4,E 101ST PL,E,101ST,PL,,1,699

In [ ]:
#END